name: Hackathon Image Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
       - name: Install doctl
         uses: digitalocean/action-doctl@v2
         with:
           token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
           
       # Create droplet and volumes
       - name: Create droplet for job
         run: |
           doctl compute droplet create sdvimagebuilddroplet-${{ github.run_id }} --region lon1 --image ubuntu-20-04-x64 --size s-4vcpu-8gb --interactive=false --wait=true
           
       - name: Create volume
         run: |
           echo 'VOLUME_ID=$(doctl compute volume create buildvolumetmp-${{ github.run_id }} --region lon1 --size 150GiB --interactive=false --fs-type=ext4 --fs-label=bld --format=ID --no-header=true)' >> $GITHUB_ENV
           
       - name: Attach volume
         run: |
           doctl compute volume-action attach $VOLUME_ID `doctl compute droplet get sdvimagebuilddroplet-${{ github.run_id }} --format=ID --no-header=true` --interactive=false --wait=true
           
       # Teardown droplet and volumes
       - name: Detach volume from droplet
         if: always()
         run: |
           doctl compute volume-action detach $VOLUME_ID `doctl compute droplet get sdvimagebuilddroplet-${{ github.run_id }} --format=ID --no-header=true` --interactive=false --wait=true
       
       - name: Delete volume
         if: always()
         run: |
           doctl compute volume delete $VOLUME_ID --interactive=false --force
           
       - name: Delete droplet
         if: always()
         run: |
           doctl compute droplet delete sdvimagebuilddroplet-${{ github.run_id }} --interactive=false --force
           
