name: Hackathon Image Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
       - name: Install doctl
         uses: digitalocean/action-doctl@v2
         with:
           token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
           
       # Create droplet and volumes
       - name: Generate SSH keypair for droplet access
         run: |
           ssh-keygen -t rsa -f ~/.ssh/droplet-${{ github.run_id }} -P ""
           echo "SSH_KEY=$(doctl compute ssh-key import droplet-${{ github.run_id }} --public-key-file ~/.ssh/droplet-${{ github.run_id }}.pub --format=ID --no-header=true --interactive=false)" >> $GITHUB_ENV
           
       - name: Create droplet for job
         run: |
           echo "DROPLET_ID=$(doctl compute droplet create sdvimagebuilddroplet-${{ github.run_id }} --region lon1 --image ubuntu-20-04-x64 --size c-16 --ssh-keys $SSH_KEY --interactive=false --wait=true --format=ID --no-header=true)" >> $GITHUB_ENV
           
       - name: Create volume
         run: |
           echo "VOLUME_ID=$(doctl compute volume create buildvolumetmp-${{ github.run_id }} --snapshot $(doctl compute snapshot list sdvbuildsnapshot-3181284903 --format=ID --no-header=true) --size 150GiB --interactive=false --fs-type=ext4 --fs-label=bld --format=ID --no-header=true)" >> $GITHUB_ENV
           
       - name: Attach volume
         run: |
           doctl compute volume-action attach $VOLUME_ID $DROPLET_ID --interactive=false --wait=true
           
       # Run commands on droplet
       - name: Run commands on droplet
         run: |
           until ssh-keyscan `doctl compute droplet get $DROPLET_ID --format=PublicIPv4 --no-header=true --interactive=false` >> ~/.ssh/known_hosts; do
             echo 'Waiting for host to come online...'
             sleep 5
           done
           ssh -i ~/.ssh/droplet-${{ github.run_id }} -o ServerAliveInterval=60 root@`doctl compute droplet get $DROPLET_ID --format=PublicIPv4 --no-header=true --interactive=false` " \
             sleep 1m ; \
             mkdir /mnt/buildvolumetmp_3181284903 ; \
             mount -o defaults,nofail,discard,noatime /dev/sda /mnt/buildvolumetmp_3181284903 ; \
             apt-get update ; \
             apt-get install -y build-essential python3-pip python3 chrpath diffstat zstd git ; \
             pip install kas ; \
             export UID_TGT=\$(stat -c %u /mnt/buildvolumetmp_3181284903) ; \
             export GID_TGT=\$(stat -c %g /mnt/buildvolumetmp_3181284903) ; \
             adduser --disabled-password --gecos 'Build User' --uid $UID_TGT --gid $GID_TGT blduser ; \
             passwd -d blduser ; \
             su blduser -c ' \
               cd /mnt/buildvolumetmp_3181284903 ; \
               cd sdv-hackathon-cfg3 ; \
               git pull ; \
               kas build meta-ewaol-hackathon/kas/machine/rpi4-hkt.yml \
             ' \
           "
       
       # Copy artifacts back to local VM and commit
       - name: 'Copy image to local VM'
         run: |
           scp -i ~/.ssh/droplet-${{ github.run_id }} root@`doctl compute droplet get $DROPLET_ID --format=PublicIPv4 --no-header=true --interactive=false`:/mnt/buildvolumetmp_3181284903/sdv-hackathon-cfg3/build/tmp_virtualization/deploy/images/raspberrypi4-64/ewaol-virtualization-image-raspberrypi4-64.rpi-sdimg .
       
       - name: 'Upload image as artifact'
         uses: actions/upload-artifact@v3
         with:
           name: hackathon-image.rpi-sdimg
           path: |
             ewaol-virtualization-image-raspberrypi4-64.rpi-sdimg
           retention-days: 30
       
       # Teardown droplet and volumes
       - name: Detach volume from droplet
         if: always()
         run: |
           doctl compute volume-action detach $VOLUME_ID $DROPLET_ID --interactive=false --wait=true
       
       #- name: Snapshot volume
         #if: always()
         #run: |
           #doctl compute volume snapshot $VOLUME_ID --snapshot-name=sdvbuildsnapshot-${{ github.run_id }}
       
       - name: Delete volume
         if: always()
         run: |
           doctl compute volume delete $VOLUME_ID --interactive=false --force
           
       - name: Delete droplet
         if: always()
         run: |
           doctl compute droplet delete $DROPLET_ID --interactive=false --force
           
