name: Hackathon Image Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install kas and dependencies
        run: |
          pip install kas
          sudo apt-get install -y diffstat zstd
        
      - name: Perform build
        run: |
          mkdir build && cd build
          kas build ../meta-ewaol-hackathon/kas/machine/rpi4-hkt.yml
