name: Hackathon Image Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
       - name: Install doctl
         uses: digitalocean/action-doctl@v2
         with:
           token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
           
       - name: Create droplet for job
         run: |
           doctl compute droplet create sdv-image-build-droplet --region lon1 --image ubuntu-20-04-x64 --size s-4vcpu-8gb --interactive=false
           doctl compute volume create buildvolumetmp --region lon1 --size 150GiB --interactive=false
           doctl compute volume-action attach buildvolumetmp sdv-image-build-droplet --interactive=false
           
       # Teardown droplet and volumes
       - name: Detach volume from droplet
         if: always()
         run: |
           doctl compute volume-action detach buildvolumetmp sdv-image-build-droplet --interactive=false
       
       - name: Delete volume
         if: always()
         run: |
           doctl compute volume delete buildvolumetmp --interactive=false --force
           
       - name: Delete droplet
         if: always()
         run: |
           doctl compute droplet delete sdv-image-build-droplet --interactive=false --force
           
